lumine-text-editor.editor .syntax--log {
  .syntax--log-error,
  .syntax--log-failed {
    color: var(--text-color-error);
  }

  .syntax--log-warning,
  .syntax--log-denied {
    color: var(--text-color-warning);
  }

  .syntax--log-debug,
  .syntax--log-success {
    color: var(--text-color-success);
  }

  .syntax--log-info,
  .syntax--log-patch {
    color: var(--text-color-info);
  }

  .syntax--log-verbose {
    color: var(--text-color-highlight);
  }
}
